{% extends '::layout.html.twig' %}

{% block body %}
<section id="bannerVideo">
  <h1 id="title">Inscription</h1>
  <video autoplay loop muted>
      <source src="/videos/pacman game play.mp4" type="video/mp4">
  </video>
</section>
<section>
  <div class="row padding-row">
    <div class="col-lg-2">
      <img class="contactimageleft" src="/img/zelda.png" alt="Zelda">
    </div>
    <div class="col-lg-8">
    {% block fos_user_content %}{% endblock %}
    </div>
    <div class="col-lg-2">
      <img class="contactimageright" src="/img/link.png" alt="Link">
    </div>
  </div>
</section>
{% endblock %}
