{# app/Resources/views/Emails/notificationUser.html.twig #}
<h3>Site Retro Man Games Au rapport !</h3>

M, Mme  {{ nom }} {{ prenom }} nous as contactés

Ce message transmis par leur soins est le suivant :

 {{ sujet }}

Celui-ci a été posté le {{datecreation}}

Cordialement,

Par le service de notification de messages intrinsèques du site omnipotent :D.
