{# app/Resources/views/Emails/notificationUser.html.twig #}
<h3>Bienvenue Chez RetroManGames</h3>

Bonjour M, Mme  {{ nom }} {{ prenom }}!

Nous vous remercions d'avois pris contact avec nous !
Pour rappel vous nous avez parlé de :

 {{ sujet }}

Nous ferons notre possible pour vous répondre dans les plus brefs délais !

Cordialement,

La société RetroManGames.
