{# Ici on est dans la vue "enfant", et qui va servir à personnaliser le contenu de la page :). Cela ressemble pas mal au système des include présent dans PHP d'ailleurs... #}
{% extends "::layout.html.twig" %}
{# en ce qui concerne le bloc du titre, on
ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}

{% block title %} Accueil - {{ parent() }} {% endblock %}
{% block body %}

<section id="bannerVideo">
  <h1 id="title">Bienvenue Chez RetroManGames</h1>
  <video autoplay loop muted>
      <source src="/videos/pacman game play.mp4" type="video/mp4">
  </video>
</section>

<h1 class="sectiontitle">Les Espaces</h1>
<section class="row whitesection">
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="{{asset('/img/LogoArcade.png')}}" alt='LogoArcade'/>
    <p class="spacecontent"> Chez RetroManGames, venez retrouver l'ambiance des bornes d'arcade d'antan !
      Avec des jeux comme Metal Slug, Street Fighter 2, OutRun, Space Harrier et bien d'autres,
      venez ressentir le plaisir de découvrir (ou de redécouvrir) ces jeux d'antan.
      Et pour les plus acharnés du pad, si vous battez le High-Score d'une des bornes, ou gagnez l'un des
      nombreux tournois organisés ici même, nous vous offrons une boission gratuite !
    </p>
    <a class="morebutton green" href="#">En savoir +</a>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="/img/LogoDDR.png" alt="LogoDDR"/>
    <p class="spacecontent"> Vous vous sentez l'âme d'un danseur prêt à enflammer la piste ?
      Alors notre borne dance dance revolution saura vous combler !
      Avec près de 2000 pistes disponibles, vous aurez de quoi trouver votre bonheur.
      A noter que pour les plus expérimentés d'entre vous, il est possible de rajouter de nouvelles pistes !
      Le jeu est évidemment adaptable à tous les niveaux de jeu, permettant de s'amuser entre potes ! </p>
    <a class="morebutton orange" href="#">En savoir +</a>
  </div>
  <div class="col-lg-4">
    <img class="imagevs" src="/img/vs.jpg"/>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="/img/LogoMangas.png" alt='LogoMangas'/>
    <p class="spacecontent">Dans notre espace mangas, retrouvez le calme et la sérénité d'une bonne séance de lecture.
      Notre collection se compose de plus de 10 000 ouvrages, avec un renouvellement des stocks chaque mois.
      "Le confort d'une salle de repos après les parties endiablées sur les bornes d'arcades est un véritable plaisir,
      sans compter l'immense collection de mangas présente dans l'établissement ! Je recommande !"
    </p>
    <a class="morebutton red" href="#">En savoir +</a>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="/img/LogoRetro.png" alt="LogoRetro"/>
    <p class="spacecontent"> Revivez l'histoire des jeux vidéos, avec notre collection de consoles, toutes en excellent état, et fournies en jeux vidéos de qualité.
    Avec évidemment quelques jeux bien pourris si vous voulez bien rigoler avec vos potes !
    De 1 à 4 joueurs, de l'amstrad à la playstation , et du jeu de rôle à celui de sport, voire même du bon vieux beat'em all,
    vous trouverez largement de quoi vous détendre et vous marrer !
  </p>
    <a class="morebutton blue" href="#">En savoir +</a>
  </div>
</section>
<section class="row blacksection">
  <h2 class="sectiontitle white">Les Tarifs</h2>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>4€</h2>
      <h3>La première heure</h3>
      <img src="/img/champi.png" alt="champiretro">
      <p>Avec une conso offerte rien que pour vous</p>
    </div>
  </div>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>1€</h2>
      <h3>L'heure suivante</h3>
      <img src="/img/ring.png" alt="anneauretro">
      <p>Pour quelques parties de plus</p>
    </div>
  </div>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>20€</h2>
      <h3>Le pass journée</h3>
      <img src="/img/star.png" alt="etoileretro">
      <p>Et a ce prix un menu est offert !</p>
    </div>
  </div>
</section>
<h1 class="sectiontitle">Infos Pratiques</h1>
<section class="row">
  <article>
    <address class="col-xs-12 col-sm-4">
             <img src="/img/IntegrationLogoRMG.png" width="50%" height="50%" alt="logo du site"/> <br/>
             Retro Man Games <br/>
             adresse :<br>
             4 Avenue de taillebourg <br/>
             Mail :<br>
             <a href="mailto:m.khayat@gmail.fr">m.khayat92@gmail.fr</a> <br />
             Téléphone :<br>
             07.81.82.35.20
         </address>
    <iframe class="col-xs-12 col-sm-7" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.465260109463!2d2.395460315986444!3d48.84933777928665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67270d9875d03%3A0x29810d3295406c38!2s4+Avenue+de+Taillebourg%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1490618915303"
      width="300" height="450" frameborder="0" style="border:5px solid black" allowfullscreen></iframe>
  </article>
</section>

{% endblock %}
