{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Plan du site - {{ parent() }}
{% endblock %}


{% block body %}
    <section class="row">
        <p>
            
        </p>
    </section>
{% endblock %}
