@font-face {
  font-family: KarmaticArcade;
  src: url(/fonts/ka1.ttf);
}

p {
  padding: 10px;
  font-size: 1.5rem;
}

.container-fluid {
  padding:0!important;
}

.bodypage {
  background-color: white;
  color: #1A1A1A;
  font-family: 'Roboto';
}
/* navbar styling */

.navbar {
  margin-bottom: 0!important;
}

.navbar-brand {
  padding: 0!important;
}
.navbar-brand img {
  margin:0 25px;
}

.navbar ul li a {
  font-family: 'KarmaticArcade';
}

/* Title style */

#title {
  font-family: 'KarmaticArcade';
  color: white;
  position: absolute;
  z-index: 2;
  width: 410px;
  margin: 0 35vw;
  text-align: center;
}

/* BannerVideo Gestion*/

#bannerVideo {
  overflow: hidden;
  height: 400px;
  background: #1A1A1A;
}

video {
  width: 100%;
  opacity: 0.5;
}

/*Modules General gestion*/

.sectiontitle{
  font-family: KarmaticArcade;
  color:#1A1A1A;
  text-align: center;
}
.white {
  color:white!important;
}
.blacksection {
  background:#1A1A1A;
}
.flexy {
  display:flex;
}
.flexycolumn {
  display: flex;
  flex-direction: column;
}

/* Espaces Modules styling */
.imagecontent {
  width: 50%;
  margin: 0 63px;
}
.imagevs {
  width: 50%;
  margin: 136px;
}

.spacecontent {
  background: #1A1A1A;
  margin: 10px 0px 0px 0px;
  color:white;
  text-align: center;
}

.morebutton {
  text-align: center;
  padding: 5px;
  font-size: 21px;
  color: white;
}

.green {
  background: #009245;
}
.red {
  background: #C1272D;
}
.blue {
  background: #0000FF;
}
.orange {
  background: #F7931E;
}

/* Tarifs styling */

.centersubcontent {
  display: flex;
  justify-content: center;
}
.pricecard {
  width: 200px;
  text-align: center;
  color: #1A1A1A;
  margin: 20px;
  background: white;
}

.pricecard img {
  width:50%;
  margin:auto;
}

.pricecard h2  {
  font-size:100px;
}

.pricecard h3 {
	margin-top: 0;
}

/* infos pratiques */

.content, address {
  text-align: center;
  font-size: 23px;
}

/* Footer styling */

footer {
  display:flex!important;
  margin-top: 20px;
  padding: 20px;
  background-color: #1A1A1A;
  text-align: center;
  justify-content:space-around;
}
footer a {
  color: white;
}
