{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Bornes d'arcade - {{ parent() }}
{% endblock %}


{% block body %}
   <h1 class="row">L'Espace Bornes d'arcades </h1>
    <section class="row">
       <p>
           // Ajouter un petit texte descriptif (environ 4 à 5 lignes à but promotionnel sur l'espace de jeu...)
            Cette page va contenir l'ensemble des informations sur les différentes bornes d'arcade dons nous disposons dans les locaux.
            Cette page contiendra notamment un tableau, listant l'ensemble des bornes présentes sur site, ainis qu'une image, et un texte descriptif concernant cette borne.
            Enfin il y aura également un lien wikipedia/jeuxvideo.com pour d'éventuelles infos supplémentaires nécessaires ou utiles. A noter en particulier que ce tableau/liste sera gérée via la base de données

       </p>
       <p>
         RetroManGames est un pionié des bornes d'arcade, dans chaque salle vous trouverez votre bonheur pour vous divertir pleinement.
         Que ça soit en famille, avec des amis ou seul.
         Il y en a pour tous les goût, que ça soit jeux de combat comme Street Fighter, de danse ou biensur l'indémodable Pac Man.
         Personne n'ai délaissé chez nous.
       </p>

    </section>
{% endblock %}
