{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}
   <h1 class="row">Nous Contacter</h1>
    <section class="row">
        <p>
            La page contact va se constituer d'un formulaire afin de nous contacter. Le reste n'a pas besoin d'être touché. Etant donné que les formulaires sont un peu particuliers à gérer. je pense que je vais m'en occuper...
        </p>
    </section>
    
    <h1 class="row">Infos Pratiques</h1>
    <section class="row">
      <article>
         <address class="col-xs-12 col-sm-4">
             <img src="img/IntegrationLogoRMG.png" width="50%" height="50%" alt="logo du site"/> <br/>
             Retro Man Games <br/>
             adresse :<br>
             4 Avenue de taillebourg <br/>
             Mail :<br>
             <a href="mailto:m.khayat@gmail.fr">m.khayat92@gmail.fr</a> <br />
             Téléphone :<br>
             07.81.82.35.20
         </address>
          <iframe class="col-xs-12 col-sm-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.465260109463!2d2.395460315986444!3d48.84933777928665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67270d9875d03%3A0x29810d3295406c38!2s4+Avenue+de+Taillebourg%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1490618915303" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </article>
    </section>                                                           
    
{% endblock %}