{# Ici on est dans la vue "enfant", et qui va servir à personnaliser le contenu de la page :). Cela ressemble pas mal au système des include présent dans PHP d'ailleurs... #}
{% extends "::layout.html.twig" %}
{# en ce qui concerne le bloc du titre, on
ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}

{% block title %} Accueil - {{ parent() }} {% endblock %}
{% block body %}

<section id="bannerVideo">
  <h1 id="title">Bienvenue Chez RetroManGames</h1>
  <video autoplay loop muted>
      <source src="videos/pacman game play.mp4" type="video/mp4">
  </video>
</section>

<h1 class="sectiontitle">Les Espaces</h1>
<section class="row whitesection">
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="img/LogoArcade.png"/>
    <p class="spacecontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu tempus libero. Mauris sed egestas quam. Donec mollis, metus in facilisis tempor, turpis urna viverra nibh, in sollicitudin nisi nisi in nibh. Nulla semper nisl sed erat aliquam mattis. Quisque dictum tortor quis porta scelerisque. In gravida eu mauris eget suscipit. Maecenas faucibus sem eu risus imperdiet tempor. Aliquam sit amet risus justo. Nam venenatis, purus in euismod tincidunt, nisi urna varius nibh, ut eleifend tortor odio sed turpis. </p>
    <a class="morebutton green" href="#">En savoir +</a>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="img/LogoDDR.png"/>
    <p class="spacecontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu tempus libero. Mauris sed egestas quam. Donec mollis, metus in facilisis tempor, turpis urna viverra nibh, in sollicitudin nisi nisi in nibh. Nulla semper nisl sed erat aliquam mattis. Quisque dictum tortor quis porta scelerisque. In gravida eu mauris eget suscipit. Maecenas faucibus sem eu risus imperdiet tempor. Aliquam sit amet risus justo. Nam venenatis, purus in euismod tincidunt, nisi urna varius nibh, ut eleifend tortor odio sed turpis. </p>
    <a class="morebutton orange" href="#">En savoir +</a>
  </div>
  <div class="col-lg-4">
    <img class="imagevs" src="img/vs.jpg"/>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="img/LogoMangas.png"/>
    <p class="spacecontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu tempus libero. Mauris sed egestas quam. Donec mollis, metus in facilisis tempor, turpis urna viverra nibh, in sollicitudin nisi nisi in nibh. Nulla semper nisl sed erat aliquam mattis. Quisque dictum tortor quis porta scelerisque. In gravida eu mauris eget suscipit. Maecenas faucibus sem eu risus imperdiet tempor. Aliquam sit amet risus justo. Nam venenatis, purus in euismod tincidunt, nisi urna varius nibh, ut eleifend tortor odio sed turpis. </p>
    <a class="morebutton red" href="#">En savoir +</a>
  </div>
  <div class="col-lg-2 flexycolumn">
    <img class="imagecontent" src="img/LogoRetro.png"/>
    <p class="spacecontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu tempus libero. Mauris sed egestas quam. Donec mollis, metus in facilisis tempor, turpis urna viverra nibh, in sollicitudin nisi nisi in nibh. Nulla semper nisl sed erat aliquam mattis. Quisque dictum tortor quis porta scelerisque. In gravida eu mauris eget suscipit. Maecenas faucibus sem eu risus imperdiet tempor. Aliquam sit amet risus justo. Nam venenatis, purus in euismod tincidunt, nisi urna varius nibh, ut eleifend tortor odio sed turpis. </p>
    <a class="morebutton blue" href="#">En savoir +</a>
  </div>
</section>
<section class="row blacksection">
  <h2 class="sectiontitle white">Les Tarifs</h2>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>4€</h2>
      <h3>La première heure</h3>
      <img src="img/champi.png">
      <p>Avec une conso offerte rien que pour vous</p>
    </div>
  </div>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>1€</h2>
      <h3>L'heure suivante</h3>
      <img src="img/ring.png">
      <p>Pour quelques parties de plus</p>
    </div>
  </div>
  <div class="col-lg-4 centersubcontent">
    <div class="flexycolumn pricecard">
      <h2>20€</h2>
      <h3>Le pass journée</h3>
      <img src="img/star.png">
      <p>Et a ce prix un menu est offert !</p>
    </div>
  </div>
</section>
<h1 class="sectiontitle">Infos Pratiques</h1>
<section class="row">
  <article>
    <address class="col-xs-12 col-sm-4">
             <img src="img/IntegrationLogoRMG.png" width="50%" height="50%" alt="logo du site"/> <br/>
             Retro Man Games <br/>
             adresse :<br>
             4 Avenue de taillebourg <br/>
             Mail :<br>
             <a href="mailto:m.khayat@gmail.fr">m.khayat92@gmail.fr</a> <br />
             Téléphone :<br>
             07.81.82.35.20
         </address>
    <iframe class="col-xs-12 col-sm-7" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.465260109463!2d2.395460315986444!3d48.84933777928665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67270d9875d03%3A0x29810d3295406c38!2s4+Avenue+de+Taillebourg%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1490618915303"
      width="300" height="450" frameborder="0" style="border:5px solid black" allowfullscreen></iframe>
  </article>
</section>

{% endblock %}
