{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}
    <h1 class="row">Mentions légales</h1>
    <section class="row">
       <p>
        // ici absolument rien de compliqué, j'exige que tu indiques toutes les informations juridiques de notre entreprise, (tu peux garder l'adresse et le tel sa devrait pas poser de prob). Notamment le numéro SIREN, ou le type de société (dans notre cas ce sera une SARL), le capital social etc... IMPORTANT : indique à la fin de ces informations que dans l'ensemble des informations sont fictives et uniquement présentes afin de promouvoir un projet précis.

        Evidemment j'attends que tu en fasses de même pour nous (en tant que société fictive de création de sites webs.) Je demande aussi à ce que les informations entrées soit par contre conformes entre le dossier de projet, et dans le site (desfois qu'on nous pose la question lol).
       </p>

       <p>
         TOUTES LES INFORMATIONS SONT FICTIVES, CES INFORMATIONS SONT POUR LE PROJET DANS LE CADRE DES ETUDES.
       </p>

       <p>
         Société RetroManGames : <br/>
         <br/>
         Société : RetroManGames. <br/>
         Juridique : SARL <br/>
         N° SIREN : 321 654 987 <br/>
         Capital social : 10 000€
         Gérant(e) : Mme CROFT <br/>
         adresse : 32 avenue de taillebourg paris. <br/>
         Activité : salle d’arcade.<br/>
       </p>

       <p>
         Agence web GalaxyNet : <br/>
         <br/>
         L’agence : GalaxyNet   <br/>
         Juridique : SARL <br/>
         N° SIREN : 721 654 917 <br/>
         Capital : 60 000€ <br/>
         PDG : M KHAYAT <br/>
         adresse : 32 avenue de taillebourg paris. <br/>
         Site web : www.Galaxynet.fr (false Site) <br/>
         Activité : créatrice de sites web <br/>
       </p>

       <p>
         L'information communiquée sur ce site est présentée à titre indicatif.<br/>
         Elle ne prétend aucunement à l'exhaustivité. Malgré les mises à jour du contenu du site, la société RetroManGames ne peut être tenue pour responsable de la modification des dispositions administratives et juridiques survenant après la publication.<br/>
         Les informations publiées dans le fichier des associations le sont sous leur responsabilité.<br/>
         Pour signaler une erreur ou demander la rectification d'informations, contactez le webmestre par téléphone ou par courriel.<br/>
         La société RetroManGames ne peut être tenue pour responsable des informations diffusées sur les sites en lien et de l'utilisation qui peut en être faite.<br/>
         La société RetroManGames dégage toute responsabilité concernant les liens créés par d'autres sites vers ses propres sites.<br/>
         L'existence de tels liens ne peut permettre d'induire que la société RetroManGames cautionne ces sites ou qu'elle en approuve le contenu.
       </p>

       <p>
         Protection de la vie privée <br/>
         <br/>

         Utilisation des cookies : Ce site n'en utilise pas. Aucune information nominative n'est enregistrée.<br/>
         Messagerie : En utilisant votre logiciel de messagerie, vous nous communiquez votre adresse électronique. Elle ne sera pas utilisée à des fins commerciales.<br/>
         Vous pouvez demander à tout moment, par simple courrier électronique ou par lettre, de ne plus figurer dans nos fichiers de contacts.<br/>
         Conformément à la loi Informatique et libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant auprès de la société RetroManGames.<br/>
       </p>

       <p>
         Droits d'utilisation et de reproduction<br/>
         <br/>
         Le droit de reproduction et/ou droit de représentation des données du site web www.RetroManGames.fr est exclusivement destiné à l'usage privé et/ou aux seules fins de consultation personnelle et privée des utilisateurs du réseau Internet.<br/>

         Toute autre utilisation est strictement interdite et susceptible de poursuites conformément aux dispositions du Code de la Propriété Intellectuelle français, des règlements nationaux et des conventions internationales en vigueur.<br/>

         Le logo de la société RetroManGames est la propriété de la société RetroManGames.<br/>
         Toute reproduction totale ou partielle de cette marque sans autorisation préalable et écrite est interdite, de même que toute modification des proportions, couleurs, éléments et constituants.<br/>
       </p>


    </section>


{% endblock %}
