{% extends "::layout.html.twig" %}

{# en ce qui concerne le bloc du titre, on ajoute le titre de la page suivi du contenu du bloc qui est en parent, soit dans notre cas "Retro Man Games".#}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}
   
    <h1 class="row">L'espace Jeux Rétros</h1>
    <section class="row">
    
        <p>
            // Ici on pourra compléter les informations à 2 si tu veux, dans cette section j'exige tout d'abord quelques lignes sur l'espace JV (donc un petit texte promotionnel fera l'affaire). De mon coté j'ferais une description des consoles possédées par l'entreprise, ainsi que des jeux phares présents sur les machines. j'essaierais également de faire du texte promotionnel (en arguant que l'on peut jouer jusqu'à 4 personnes, Parfait pour les familles ! lol).
    
            ici aussi j'exige des images, voire des animations gifs provenant de captures (dans ce cas je me chargerais de le faire ça). 
        </p>
    </section>
{% endblock %}